#headBox {
  padding: 8px;
  background-color: rgb(177, 241, 241);
  box-shadow: 1px 1px #cacaca;
}
#divItem {
  margin: 6px;
  width: 90%;
  border-radius: 6px;
  box-shadow: 1px 1px #cacaca;
}
#divText {
  display: inline-block;
  width: 900%;
  max-width: 70%;
}
#divBtn {
  display: inline-block;
  position: sticky;
  left: 85%;
}
#divOrder {
  position: relative;
  left: 2%;
  display: inline-block;
}
#btnMoveDown {
  display: block;
}
#btnMoveUp {
  display: block;
}
#btnDelete {
  display: inline-block;
}
#divKey {
  display: block;
  padding-bottom: 4px;
}
#btnSave {
  display: block;
  width: inherit;
}
input,
textarea {
  border: none;
}
